<div id="<%= dom_id weight_histroy %>">
  <p>
    <strong>User:</strong>
    <%= weight_histroy.user.name %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= weight_histroy.weight %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= weight_histroy.memo %>
  </p>

</div>
