<h1>Editing weight histroy</h1>

<%= render "form", weight_histroy: @weight_histroy %>

<br>

<div>
  <%= link_to "Show this weight histroy", @weight_histroy %> |
  <%= link_to "Back to weight histroys", weight_histroys_path %>
</div>
